
/* definição de variáveis */
:root{

    --border-radius: 5rem;
    --box-shadow: 0.05rem 0.05rem 0.25rem -0.1rem var(--secondary-color);

    --background:#f2f2f2;
    --background-shadow: rgba(1, 1, 1, 0.5);

    --color: #111;
    --color-clear: #ddd;
    --color-shadow: #666;
    --secondary-color: #323232;
    
    --blue:#333faa;
    --blue-green: #009c68;
    --green: #008a12;
    --yellow: #ccbe00;
    --orange: #ff5100;
    --purple: #b700ff;
    --dark-purple: #6d00d3;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

header{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.logo{
    font-size: 2rem;
    color: var(--secondary-color);
    animation: logo 1500ms ease-in-out forwards infinite;
}

/* .nav{
    display: flex;
    flex-direction: column; */
/* } */

.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background: var(--background);
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow) ;

}

.nav-item > a{
    text-decoration: none;
    list-style: none;
    color: var(--color);
}
.nav-item:hover{
    color: var(--blue);
    animation: kframeNav 300ms ease forwards;
}  

.nav-home > a{
    color: var(--blue);  
}

.button-sign-up{
    display: flex;
    gap: 0.5rem;
    padding: 1.5rem;
    cursor: pointer;
}

.text-sign-up, .icon-sign-up{
    color: var(--secondary-color);
}

main{
    display: flex;
    justify-content: flex-start;
    width: 73%;

}

.find-dream{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.titulo{
    font-size: 5rem;
    width: 78%;
    color: var(--secondary-color);
    margin: 0;
    margin-top: auto;
}

.descricao{
    color: var(--color-shadow);
    width: 48%;
    font-size: 1.1rem;
    margin: 0;
}

.catalog{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.button-catalog{
    border-radius: var(--border-radius);
    background: var(--color);
    border: 0;
    color: var(--background);
    padding: 0.8rem 4rem;
    box-shadow: var(--box-shadow) ;
    cursor: pointer;
}
.button-catalog:hover{
    animation: catalog 300ms ease forwards;
}

#modal{
    display: none;
    position: absolute;
    background: var(--background-shadow);
    color: var(--color);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;

    > .modal-container{
       display: flex;
       width: 50rem;
       height: 40rem;
       border-radius: var(--border-radius);
       background: var(--background);
       box-shadow: var(--box-shadow);
       position: absolute;
       z-index: 1;

       > .modal-content{
        display: flex;
        width: 50rem;
        flex-direction: column;
        align-items: center;

        > header{
            width: 40rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1rem;

            > button{
                width: 2rem;
                height: 2rem;
                border-radius: var(--border-radius);
                background: var(--color);
                color: var(--background);
                font-size: 1rem;
            }

            > button:hover{
                animation: catalog 300ms ease forwards;
            }
        }

        > .section-cards{

            width: 45rem;
            height: 30rem;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 1rem;

            > .card{
                margin: 2px;
                border: solid, 2px, var(--color-shadow);
                border-radius: 1rem;
                background: var(--secondary-color);
                padding: 0.30rem;
                display: flex;
                flex-direction: row;

                > .div-img-card{

                    > img{
                        width: 15rem;
                        border-radius: 1rem;
                        height: 10rem;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                > .div-infos-card{
                    color: var(--color);
                    padding: 0 0 0 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    > .preco-catalogo{
                        display: flex;
                        justify-content: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }
       }
    }
}


footer{
    width: 100%;
    margin: 0;
    padding: 0 0 2rem 0 ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, var(--background) 50%, transparent 50%);
    position: absolute;
    bottom: 0;
}

.footer-container{
    position: relative;
    width: 73%;
    display: flex;
    justify-content: center;
    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 2rem 0;
}

.footer-content{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var( --color);
    flex: 1;

}

.icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-clear);
    border-radius: var(--border-radius);
    width: 3rem;
    height: 3rem;
}

.all{ color: var(--blue); }
.land-lots{ color: var(--blue-green);}
.office{ color: var(--green);}
.store{ color: var(--yellow);}
.apartment{ color: var(--orange);}
.villa{ color: var(--purple);}
.house{ color: var(--dark-purple);}

.all-span{ color: var(--blue) }

@keyframes logo{
    0%{
        transform: scale(1);
    } 
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes kframeNav{
    0%{
        transform: rotateZ(0deg) scale(1);
    }
    25%{
        transform: rotateZ(10deg) scale(1.05);

    }
    75%{
        transform: rotateZ(-10deg) scale(1.05);

    }
    100%{
        transform: rotateZ(0deg) scale(1);
        transform-style: var(--blue)
    }
}

@keyframes catalog{
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
        background: var(--blue);
    }
}

@media (prefers-color-scheme: dark){
    :root{
    
        --background:#111;
    
        --color: #f2f2f2;
        --color-clear: #575757;
        --color-shadow: #888;
        --secondary-color: #444;
        
        --blue:#a7c3ff;
        --blue-green: #64f5c5;
        --green: #45ff5e;
        --yellow: #ffd152;
        --orange: #ff7e42;
        --purple: #d770ff;
        --dark-purple: #ad5ff7;
    
    }  
}
