
/* definição de variáveis */
:root{

    --border-radius: 5rem;
    --box-shadow: 0.05rem 0.05rem 0.25rem -0.1rem var(--secondary-color);

    --background:#f2f2f2;

    --color: #111;
    --color-clear: #ddd;
    --color-shadow: #666;
    --secondary-color: #323232;
    
    --blue:#333faa;
    --blue-green: #009c68;
    --green: #008a12;
    --yellow: #ccbe00;
    --orange: #ff5100;
    --purple: #b700ff;
    --dark-purple: #6d00d3;
}

.dark-mode:root{
    
    --background:#111;
    
    --color: #f2f2f2;
    --color-clear: #575757;
    --color-shadow: #888;
    --secondary-color: #444;
    
    --blue:#a7c3ff;
    --blue-green: #64f5c5;
    --green: #45ff5e;
    --yellow: #ffd152;
    --orange: #ff7e42;
    --purple: #d770ff;
    --dark-purple: #ad5ff7;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(url('./assets/background.jpg') 60%, var(--background) 40%);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.logo{
    font-size: 2rem;
    color: var(--secondary-color);
}

/* .nav{
    display: flex;
    flex-direction: column; */
/* } */

.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background: var(--background);
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow) ;

}

.nav-item, .nav-item > a{
    text-decoration: none;
    list-style: none;
    color: var(--color);
}

.nav-home > a{
    color: var(--blue);
}

.button-sign-up{
    display: flex;
    gap: 0.5rem;
    padding: 1.5rem;
}

.button-sign-up:hover{
    cursor: pointer;
}
.text-sign-up, .icon-sign-up{
    color: var(--secondary-color);
}

main{
    display: flex;
    justify-content: flex-start;
    width: 73%;

}

.find-dream{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.titulo{
    font-size: 5rem;
    width: 78%;
    color: var(--secondary-color);
    margin: 0;
    margin-top: auto;
}

.descricao{
    color: var(--color-shadow);
    width: 48%;
    font-size: 1.1rem;
    margin: 0;
}

.catalog{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.button-catalog{
    border-radius: var(--border-radius);
    background: var(--color);
    border: 0;
    color: var(--background);
    padding: 0.8rem 4rem;
    box-shadow: var(--box-shadow) ;
}

footer{
    width: 73%;
    display: flex;
    justify-content: center;
    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 3rem 2rem;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var( --color);
    flex: 1;

}

.icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-clear);
    border-radius: var(--border-radius);
    width: 3rem;
    height: 3rem;
}

.all{ color: var(--blue); }
.land-lots{ color: var(--blue-green);}
.office{ color: var(--green);}
.store{ color: var(--yellow);}
.apartment{ color: var(--orange);}
.villa{ color: var(--purple);}
.house{ color: var(--dark-purple);}

.all-span{ color: var(--blue) }